@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

main {
  background-color: #e5e5e5;
  margin-right: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  border: none;
}

header {
  position: fixed;
  z-index: 1000;
  opacity: 80%;
  width: 100%;
  justify-self: center;
}

nav .mylogo {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  line-height: 1.25rem;
  font-size: 1rem;
  font-style: normal;
  display: flex;
  flex-direction: column;
  text-align: left;
  color: #6070ff;
  font-weight: 700;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.headline h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 1.25rem;
  font-size: 1rem;
  font-style: normal;
  color: #7f8cff;
  margin-left: 1.5rem;
}

.headline {
  background-image: url(images/header-shapes\ mobile.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.headline h1 {
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #172b4d;
  margin: 8rem 1.5rem 0.75rem 1.5rem;
  line-height: 3.25rem;
}

.headline p {
  margin: 0.75rem 1.5rem 0.75rem 1.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #344563;
  font-style: normal;
}

.headline ul {
  margin: 1.625rem 0 0 1.5rem;
  list-style: none;
  padding-bottom: 15.9375rem;
}

.headline li {
  display: inline-block;
  margin: 1.625rem 1.1875rem 0 0;
  flex: 3;
}

/* --------------------Portfolio Changes Second Part------------------- */

.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin: 7.125rem 1.5rem 6.5rem 1.5rem;
}

.card_container1 {
  background-color: white;
  grid-column: 1/2;
  grid-row: 1/2;
  margin-bottom: 8.125rem;
  border-radius: 1rem;
}

.snap_img {
  width: 18.4375rem;
  height: 13.75rem;
  border-radius: 0.5rem;
  margin: 1rem 1rem 0.75rem 1rem;
}

.card_container1 ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin-top: 1.25rem;
  margin-left: 1rem;
  margin-bottom: 1.25rem;
}

.counter {
  width: 0.5rem;
  height: 0.5rem;
  margin-top: 0.3125rem;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.card_content1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.btn_project {
  padding: 0.75rem;
  border: 1px solid #6070ff;
  border-radius: 0.5rem;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.0625rem;
  color: #396df2;
  line-height: 1.5rem;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 28px;
  margin-bottom: 1.75rem;
  margin-left: 1rem;
}

.second_line {
  font-family: "Poppins", sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  margin-left: 1rem;
  margin-right: 1rem;
}

#canopy {
  color: #344563;
  font-size: 0.8125rem;
  line-height: 1rem;
  font-style: normal;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

#backend {
  font-family: "Poppins", sans-serif;
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1rem;
  color: #7a869a;
}

h3 {
  margin-top: 0.75rem;
  margin-left: 1rem;
  margin-bottom: 0;
  font-size: 2.1875rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #172b4d;
  line-height: 2.75rem;
}

.second_list {
  margin: 1rem 0 0 0;
  padding: 0;
}

.second_list1 {
  background-color: #ebebff;
  margin-right: 0.625rem;
  margin-left: 1rem;
  border-radius: 0.5rem;
  padding: 0.3125rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-family: "Poppins", sans-serif;
  color: #6070ff;
  font-weight: 500;
}

.second_list2 {
  background-color: #ebebff;
  margin-right: 0.625rem;
  margin-left: 1rem;
  border-radius: 0.5rem;
  padding: 0.3125rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-family: "Poppins", sans-serif;
  color: #6070ff;
  font-weight: 500;
}

.second_list3 {
  background-color: #ebebff;
  margin-right: 0.625rem;
  margin-left: 1rem;
  border-radius: 0.5rem;
  padding: 0.3125rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-family: "Poppins", sans-serif;
  color: #6070ff;
  font-weight: 500;
}

/* -----------Card Container 2------------ */
.card_container2 {
  background-color: #fff;
  grid-column: 1/2;
  grid-row: 2/3;
  margin-bottom: 5.5rem;
  border-radius: 1rem;
}

.card_content2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.card_container2 ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin-top: 1.25rem;
  margin-left: 1rem;
  margin-bottom: 1.25rem;
}

.second_list1B {
  background-color: #ebebff;
  margin-right: 0.625rem;
  border-radius: 0.5rem;
  padding: 0.3125rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-family: "Poppins", sans-serif;
  color: #6070ff;
  font-weight: 500;
}

.second_list2B {
  background-color: #ebebff;
  margin-right: 0.625rem;
  border-radius: 0.5rem;
  padding: 0.3125rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-family: "Poppins", sans-serif;
  color: #6070ff;
  font-weight: 500;
}

.second_list3B {
  background-color: #ebebff;
  margin-right: 0.625rem;
  border-radius: 0.5rem;
  padding: 0.3125rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-family: "Poppins", sans-serif;
  color: #6070ff;
  font-weight: 500;
}

.second_list_B {
  padding: 0;
  margin: 1rem 0 0 1rem;
}

/* ---------card container 3--------- */
.card_container3 {
  background-color: #fff;
  grid-column: 1/2;
  grid-row: 3/4;
  margin-bottom: 5.5rem;
  border-radius: 1rem;
}

.card_content3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.card_container3 ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin-top: 1.25rem;
  margin-left: 1rem;
  margin-bottom: 1.25rem;
}

.second_list1C {
  background-color: #ebebff;
  margin-right: 0.625rem;
  border-radius: 0.5rem;
  padding: 0.3125rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-family: "Poppins", sans-serif;
  color: #6070ff;
  font-weight: 500;
}

.second_list2C {
  background-color: #ebebff;
  margin-right: 0.625rem;
  border-radius: 0.5rem;
  padding: 0.3125rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-family: "Poppins", sans-serif;
  color: #6070ff;
  font-weight: 500;
}

.second_list3C {
  background-color: #ebebff;
  margin-right: 0.625rem;
  border-radius: 0.5rem;
  padding: 0.3125rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-family: "Poppins", sans-serif;
  color: #6070ff;
  font-weight: 500;
}

.second_list_C {
  padding: 0;
  margin-left: 1rem 0 0 1rem;
}

.headline .connect {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 1.25rem;
  font-size: 1rem;
  font-style: normal;
  color: #7f8cff;
  margin-left: 1.5rem;
}

/* ---------card container 4--------- */
.card_container4 {
  background-color: white;
  grid-column: 1/2;
  grid-row: 4/4;
  border-radius: 1rem;
  margin-bottom: 0;
}

.card_content4 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.card_container4 ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin-top: 1.25rem;
  margin-left: 1rem;
  margin-bottom: 1.25rem;
}

.second_list1D {
  background-color: #ebebff;
  margin-right: 0.625rem;
  border-radius: 0.5rem;
  padding: 0.3125rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-family: "Poppins", sans-serif;
  color: #6070ff;
  font-weight: 500;
}

.second_list2D {
  background-color: #ebebff;
  margin-right: 0.625rem;
  border-radius: 0.5rem;
  padding: 0.3125rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-family: "Poppins", sans-serif;
  color: #6070ff;
  font-weight: 500;
}

.second_list3D {
  background-color: #ebebff;
  margin-right: 0.625rem;
  border-radius: 0.5rem;
  padding: 0.3125rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-family: "Poppins", sans-serif;
  color: #6070ff;
  font-weight: 500;
}

.second_list_D {
  padding: 0;
  margin-left: 1rem 0 0 1rem;
}

/* ---------------about myself part----------- */
.about_container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0;
  border-radius: 0 1.5rem 0 0;
  max-width: 100%;
}

.about_container h2 {
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #172b4d;
  margin: 6.125rem 1.5rem 0 1.5rem;
}

.about_container p {
  margin: 0.75rem 1.5rem 0.75rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #344563;
  line-height: 1.5em;
  margin-left: 1.5rem;
}

.about_container ul {
  padding: 0;
  margin: 0 0 0 1.5rem;
  list-style: none;
  display: flex;
}

.about_container ul li {
  float: left;
  margin: 0 1rem 0 0;
  justify-content: baseline;
}

.about_container .connect {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 1.25rem;
  font-size: 1rem;
  font-style: normal;
  color: #7f8cff;
  margin-left: 1.5rem;
  margin-bottom: 1.625rem;
}

#btnget {
  border: 1px solid #6070ff;
  padding: 0.75rem;
  background-color: #fff;
  border-radius: 0.5rem;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.03em;
  font-size: 1.0625rem;
  color: #396df2;
  width: 11.25rem;
  height: 3rem;
  margin-top: 1.375rem;
  margin-left: 1.5rem;
  margin-bottom: 3.75rem;
}

.lang p {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5em;
  color: #000;
}

.lang {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.25rem;
  margin-left: 1rem;
}

.lang i {
  align-self: center;
  margin: 0 2.625rem 0 0;
}

#javascript {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  background-color: #f7f7f9;
  padding: 0.75rem;
  margin: 0.375rem 0.75rem 0.375rem 0;
  font-family: "Poppins", sans-serif;
  font-size: 0.9375rem;
  color: #253858;
  border-radius: 0.5rem;
  margin-left: 1rem;
  margin-right: 1.5rem;
}

#javascript li {
  align-self: center;
  margin: 0 0 0 1.25rem;
}

#html {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  background-color: #f7f7f9;
  padding: 0.75rem;
  margin: 0.375rem 0.75rem 0.375rem 0;
  font-family: "Poppins", sans-serif;
  font-size: 0.9375rem;
  color: #253858;
  border-radius: 0.5rem;
  margin-left: 1rem;
  margin-right: 1.5rem;
}

#html li {
  align-self: center;
  margin: 0 0 0 1.25rem;
}

#css {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  background-color: #f7f7f9;
  padding: 0.75rem;
  margin: 0.375rem 0.75rem 0.375rem 0;
  font-family: "Poppins", sans-serif;
  font-size: 0.9375rem;
  color: #253858;
  border-radius: 0.5rem;
  margin-left: 1rem;
  margin-right: 1.5rem;
}

#css li {
  align-self: center;
  margin: 0 0 0 1.25rem;
}

.frame {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.0625rem #dfe1e6 solid;
  margin-left: 1rem;
  margin-bottom: 1.5rem;
  margin-top: 2.8125rem;
}

.frame i {
  align-self: center;
  margin: 0 2.625rem 0 0;
}

.skills {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.0625rem #dfe1e6 solid;
  margin-bottom: 7.3125rem;
  margin-left: 1rem;
}

.skills i {
  align-self: center;
  margin: 0 2.625rem 0 0;
}

.btn_project:hover {
  background-color: #396df2;
  color: #fff;
}

#btnget:hover {
  background-color: #396df2;
  color: #fff;
}

.skills p {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5em;
  color: #000;
}

.frame p {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5em;
  color: #000;
}

/* -------Contact me part--------- */
.contact {
  background-color: #6070ff;
  background-image: url(images/contact\ form\ shapes-mobile@2x.png);
  background-repeat: no-repeat;
  background-size: 16.5625rem;
  background-position: right;
  display: flex;
  border-radius: 3.75rem 0 0 0;
  flex-direction: column;
  align-items: center;
}

.contact h2 {
  margin-top: 6.4375rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.25rem;
  color: #fff;
}

.contact p {
  color: #ebebff;
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
  line-height: 28px;
  margin: 1.25rem 1.5rem 3.25rem 1.5rem;
  font-family: "Poppins", sans-serif;
}

.form1 {
  margin: 0 1.5rem 1.25rem 1.5rem;
  width: 20.4375rem;
  height: 3rem;
  border-radius: 0.5rem;
  border: none;
  background: #fff;
  font-size: 1.0625rem;
  color: #172b4d;
  line-height: 1.25rem;
  padding: 0 0.5rem;
  outline: none;
}

::placeholder {
  transition: 0.5s;
}

#textarea1 {
  margin: 0 1.5rem 1.25rem 1.5rem;
  width: 20.4375rem;
  border-radius: 0.5rem;
  border: none;
  background: #fff;
  font-size: 1.0625rem;
  color: #172b4d;
  line-height: 1.25rem;
  padding: 0 0.5rem;
  height: 10.625rem;
  outline: none;
}

button {
  font-family: "Poppins", serif;
  font-size: 17px;
  color: #396df2;
  margin: 22px 0 45px 24px;
  height: 48px;
  width: 142px;
  padding: 12px 16px;
  border-radius: 10px;
  background-color: #fff;
  border: none;
}

button:active {
  background-color: #fff;
}

.myskills {
  margin-left: 0.625rem;
  background: #fff;
}

.about {
  background-color: #fff;
}

@media (max-width: 768px) {
  .cards-desk-container {
    display: none;
  }
/* popup section ---------------------------------------------------------------------- */
/* mobile version----Popup section--------------------------------------------- */
.linkbtn {
  border: 1px solid #396DF2;
  font-size: 15px;
  line-height: 20px;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 5px;
}
.list-item span {
  display: inline-block;
  margin-right: 10px;
  font-size: 12px;
  line-height: 16px;
  color: #6070FF;
  background: #EBEBFF;
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  margin-top: 24px;
}
.list-item {

  margin-bottom: 25px;
  display: inline-block;
}
.descriptiontxt {
  margin-top: 20px;
  
}
.card img {
  left: 0;
  right: 0;
  max-width: 100%;
  display: block;
}

.icon12 {
width: 15px;
height: 15px;
}
#linkbutton {
margin-top: 10px;
margin-left: 25px;
}
.popup {
    width: 100vw; /* maximum width for desktop */
    margin: 0 auto; /* center the popup horizontally */
    padding: 20px;
    height: 100vh;
    background: #fff;
    top: 3rem;
    overflow-y: auto;
  }

  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    overflow-y: auto;
  }
  .closebtn1 {
    position: absolute;
    top: -25px;
    right: 7px;
    color: #000;
    font-size: 20px;
    width: 10%;

  }
   
  .card {
    padding: 10px 10px;
  } 
  #listitem li {
    list-style: none;
  }
  
/* pop section-----End------------------------------------------------------------------------ */

  .nav-item {
    display: block;
    position: absolute;
    background-color: #6070ff;
    width: 100%;
    mix-blend-mode: multiply;
    height: 100vh;
    list-style: none;
    visibility: hidden;
    z-index: 1;
  }

  .nav-item a {
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    margin-left: 1.5rem;
  }

  .nav-item li {
    margin-top: 1.25rem;
  }

  #btnclose {
    display: flex;
    justify-content: flex-end;
    color: #fff;
    font-size: 1.5rem;
    line-height: 2rem;
    cursor: pointer;
    outline: none;
    border: none;
  }

  #btncross {
    width: 12px;
    height: 12px;
    background: none;
    color: #fff;
    margin-top: 0;
  }

  #vector {
    cursor: pointer;
    margin-right: 1.5rem;
  }
}

@media (min-width: 768px) {
  /* popup section--------------------------------------- */
  #card-container {
    width: 100%;
    max-width: 100%;
    height: 1163px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
  
.deskimg {
  width: 96%;
  height: 500px;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

#canopy {
  margin-left: 24px;
}
.list-item {

  margin-bottom: 25px;
  display: inline-block;  
}
#tech1 {
  margin-left: 40px;
  gap: 10px;
}


.row {
  display: flex;
  flex-direction: row;
}

.column {
  flex-basis: 70%;
  margin-left: 24px;
}
.column1 {
  margin-left: 24px;
  flex-basis: 30%;
}
#desktext {
  margin-bottom: 16px;
  margin-right: 24px;
}
#desktext {
  margin-left: 30px;
}
  .linkbtn {
    border: 1px solid #396DF2;
    font-size: 15px;
    line-height: 20px;
    padding: 5px 15px;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 24px;
  }
  .icon12 {
  width: 15px;
  height: 15px;
  }
  #linkbutton {
  margin-top: 30px;
  margin-left: 25px;
  }
  .popup {
    /* maximum width for desktop */
    max-width: 100%;
    margin: auto; /* center the popup horizontally */
    top: 3rem;
    background: #fff;
    height: 1163px;
    overflow-y: auto;
  } 
    .popup-overlay {
      position: fixed;
      top: 0;
      left: 0;
      height: 1156px;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 9999;
      overflow-y: auto;
    }
    .closebtn1 {
      position: absolute;
      top: -25px;
      right: 7px;
      color: #000;
      font-size: 20px;
      width: 10%;
      
    }
    .descriptiontxt {
      margin-top: 30px;
      
    }
    .card ul li{
     display: inline-block;
      list-style: none;
      background: #EBEBFF;
      margin-right: 10px;
      margin-top: 10px;
      padding: 2px 10px;
      font-size: 12px;
      border-radius: 8px;
      color: #6070ff;
    } 
    .card {
      padding: 10px 10px;
    } 
    #listitem li {
      list-style: none;
    }
  
  /* popup section end  */
  
  .headline {
    background-image: url(images/headerimg.png);
    background-size: 97% 100%;
    background-position: center center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 0 0 0 60px;
    margin-bottom: 142px;
  }

  .headline h1 {
    color: #091e42;
    align-items: center;
    margin: 259px 260px 12px 260px;
    letter-spacing: 0.37px;
    font-size: 3rem;
  }

  .headline .connect {
    margin-left: 260px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .headline ul {
    margin-left: 260px;
    margin-top: 0;
  }

  .headline p {
    color: #344563;
    align-items: center;
    margin: 0 260px 12px 260px;
    line-height: 1.5em;
    font-size: 1.25rem;
  }

  .portfolio {
    margin-top: 0;
  }

  main {
    background-color: #e5e5e5;
    margin: 0;
    padding: 0;
  }

  #vector {
    display: none;
  }

  nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  /* stylelint-disable-next-line no-descending-specificity */
  .nav-item ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin: 0 7.9375rem 0 0;
    background: none;
    width: auto;
    height: auto;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    padding: 0;
  }

  nav li a {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    color: #344563;
    margin-right: 0;
  }

  .cards-desk-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  #card-section {
    display: none;
  }

  .card1 img {
    margin: 1.5rem;
    width: 100%;
    height: auto;
  }

  .card1 {
    grid-column: 1/2;
    background-color: #fff;
    border-radius: 24px 0 0 24px;
    margin-left: 142px;
    max-width: 100%;
    height: auto;
    margin-bottom: 142px;
    padding-right: 3rem;
  }

  .card2 {
    grid-column: 2/3;
    background-color: #fff;
    border-radius: 0 24px 24px 0;
    margin-right: 142px;
    max-width: 100%;
    margin-bottom: 142px;
    margin-left: 0;
    height: auto;
  }

  .card3 {
    grid-column: 1/2;
    background-color: #fff;
    border-radius: 24px 0 0 24px;
    margin-left: 142px;
    max-width: 100%;
    margin-bottom: 142px;
    height: auto;
  }

  .card4 {
    grid-column: 2/3;
    background-color: #fff;
    border-radius: 0 1.5rem 1.5rem 0;
    margin-right: 142px;
    margin-bottom: 142px;
    padding-right: 3rem;
    max-width: 100%;
  }

  .card4 img {
    width: 100%;
    margin: 1.5rem 1.5rem 1.5rem 1.5rem;
    height: auto;
  }

  .card5 img {
    margin: 1.5rem;
    width: 100%;
    height: auto;
  }

  .card5 {
    grid-column: 1/2;
    background-color: #fff;
    margin-left: 142px;
    border-radius: 1.5rem 0 0 1.5rem;
    height: auto;
    max-width: 100%;
    margin-bottom: 142px;
    padding-right: 3rem;
  }

  .card6 {
    grid-column: 2/3;
    background-color: #fff;
    margin-right: 142px;
    border-radius: 0 24px 24px 0;
    margin-left: 0;
    padding: 0;
    height: auto;
    max-width: 100%;
    margin-bottom: 142px;
  }

  .card7 {
    grid-column: 1/2;
    background-color: #fff;
    margin-left: 142px;
    background-size: contain;
    border-radius: 24px 0 0 24px;
    max-width: 100%;
    height: auto;
    margin-bottom: 142px;
  }

  .card8 img {
    width: 100%;
    height: auto;
    margin: 1.5rem;
    padding-right: 3rem;
  }

  .card8 {
    grid-column: 2/3;
    background-color: #fff;
    margin-right: 142px;
    border-radius: 0 24px 24px 0;
    margin-left: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
    margin-bottom: 142px;
  }

  .card2 h3 {
    margin: 3rem 2.875rem 1.25rem 1.375rem;
  }

  .second-ul {
    list-style: none;
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
    width: 100%;
    margin-left: 1.5rem;
  }

  .about_container li {
    max-width: 100%;
  }

  .second-ul li {
    font-family: 'Poppins', sans-serif;
    background-color: #ebebff;
    padding: 4px 8px;
    align-items: baseline;
    border-radius: 0.5rem;
    color: #6070ff;
    letter-spacing: 0.03em;
    font-size: 0.75rem;
    position: relative;
  }

  .card3 .second-ul {
    margin-left: 48px;
  }

  .first-ul {
    list-style: none;
    display: flex;
    margin-left: 1.5rem;
    padding: 0;
    gap: 8px;
    margin-bottom: 2rem;
    margin-right: 24px;
  }

  .p1 {
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #344563;
    line-height: 1.5rem;
    font-style: normal;
    margin-left: 1.5rem;
    margin-right: 2.875rem;
    max-width: 100%;
    margin-bottom: 1.75rem;
  }

  .card2 .btn_project {
    margin-left: 1.5rem;
    max-width: 100%;
  }

  .card3 h3 {
    margin: 3rem 0 1.25rem 2.875rem;
    max-width: 100%;
  }

  .card3 .first-ul {
    margin-left: 3rem;
  }

  .card7 h3 {
    margin: 3rem 0 1.25rem 2.875rem;
    max-width: 100%;
  }

  .card7 .first-ul {
    margin-left: 3rem;
  }

  .card6 .first-ul {
    margin-left: 1.5rem;
  }

  .card6 h3 {
    margin: 3rem 2.875rem 1.25rem 1.375rem;
    max-width: 100%;
  }

  .card7 .second-ul {
    margin-left: 3rem;
    max-width: 100%;
    height: auto;
  }

  .card6 .btn_project {
    margin: 28px 46px 1.5rem 23px;
    max-width: 100%;
  }

  .card3 .p1 {
    margin: 2rem 2.875rem 0 2.875rem;
  }

  .card7 .p1 {
    margin: 2rem 2.875rem 0 2.875rem;
  }

  .card3 .btn_project {
    margin-left: 3rem;
    max-width: 100%;
  }

  .card7 .btn_project {
    margin-left: 3rem;
    max-width: 100%;
  }

  .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 0;
    background-color: #fff;
    border-radius: 0 60px 0 0;
  }

  .about_container {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: 143px;
    margin-top: 166px;
    max-width: 100%;
    height: auto;
  }

  .about_container h2 {
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #172b4d;
    margin: 0 24px 0 24px;
  }

  .myskills {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 166px;
    margin-left: 24px;
    margin-right: 182px;
    padding: 0;
    max-width: 100%;
  }

  #javascript {
    list-style: none;
    width: 122px;
    height: 120px;
    padding: 0;
    margin: 0;
    max-width: 100%;
  }

  #javascript img {
    display: block;
    width: 48px;
    height: 48px;
    max-width: 100%;
  }

  #html {
    list-style: none;
    width: 122px;
    height: 120px;
    padding: 0;
    margin: 0;
    max-width: 100%;
  }

  #html img {
    display: block;
    width: 48px;
    height: 48px;
    max-width: 100%;
  }

  #css {
    list-style: none;
    width: 122px;
    height: 120px;
    padding: 0;
    margin: 0;
    max-width: 100%;
  }

  #css img {
    display: block;
    width: 48px;
    height: 48px;
    max-width: 100%;
  }

  .tech-skills {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    justify-content: baseline;
    gap: 12px;
    max-width: 100%;
  }

  .about_container .about_p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5em;
    max-width: 100%;
  }

  .contact {
    background-image: url(images/contactbackground.png);
    background-size: 97% 90%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    max-width: 100%;
  }

  #myform {
    border: none;
    color: #172b4d;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }

  .contact p {
    width: 30%;
    margin-top: 12px;
    color: #ebebff;
    font-size: 1.25rem;
    line-height: 1.5em;
    max-width: 100%;
  }

  #textarea1 {
    border-radius: 0;
    color: #b3bac5;
    font-size: 15px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    transition: 0.5ms;
  }

  .form1 {
    border-radius: 0;
    max-width: 100%;
  }

  .contact h2 {
    margin-top: 142px;
    margin-bottom: 0;
  }

  .btnget {
    transition: 0.7s;
  }

  .btnget:hover {
    background-color: #396df2;
    color: #fff;
  }

  :hover::placeholder {
    color: #396df2;
    font-size: 1.25rem;
    transform: translate(3ch, 3mm);
  }

  button:active {
    background-color: #fff;
    color: #396df2;
  }

  .social {
    justify-content: baseline;
  }

  .social:hover {
    transform: scale(0.7);
  }

  nav .mylogo {
    transform: rotate(-15deg);
    transition: 1s;
    margin-top: 0.7rem;
  }

  .mylogo:hover {
    transform: scale(0.8);
  }

  nav li a:hover {
    color: #396df2;
  }

  #btnclose {
    display: none;
  }
}
